<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengfan.bookstore.dao.AddressDao">

    <!-- 查询地址列表 -->
    <select id="selectAddressList" resultMap="address">
        select * from tb_address where user_id = #{userID} and is_delete = 0
    </select>

    <!-- 根据默认地址查询地址信息 -->
    <select id="selectDefaultAddress" resultMap="address">
        select * from tb_address where is_default = 2 and user_id = #{userID} and is_delete = 0
    </select>

    <!-- 根据ID查询地址信息 -->
    <select id="selectAddress" resultMap="address">
        select * from tb_address where id = #{addressID} and is_delete = 0
    </select>

    <!-- 添加一个地址 -->
    <insert id="insertAddress" parameterType="addressEntity">
        insert into tb_address (name, sex, phone,province, city, county, user_id, detailed_address)
        values (#{name},#{sex},#{phone},#{province},#{city},#{county},#{userID},#{detailedAddress})
    </insert>

    <update id="deleteAddress" parameterType="addressEntity">
       update tb_address set is_delete = 1 where id = #{id}
    </update>

    <!-- 修改地址信息 -->
    <update id="updateAddress" parameterType="addressEntity">
        update tb_address
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null and sex != 0">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="county != null">county = #{county},</if>
            <if test="detailedAddress != null">detailed_address = #{detailedAddress},</if>
            <if test="isDefault != null and isDefault != 0">name = #{isDefault},</if>
            <if test="userID != null and userID != 0">user_id = #{userID},</if>
            <if test="isDelete != null and isDelete != 0">is_delete = #{isDelete}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateDefault" parameterType="addressEntity">
        update tb_address set is_default = #{isDefault} where id = #{id}
    </update>

    <resultMap id="address" type="com.fengfan.bookstore.entity.AddressEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="detailedAddress" column="detailed_address"/>
        <result property="isDefault" column="is_default"/>
        <result property="userID" column="user_id"/>
        <result property="isDelete" column="id_delete"/>
    </resultMap>
</mapper>