<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengfan.bookstore.dao.BookDao">

    <!-- 查询书籍信息 -->
    <select id="selectBookInfo" resultMap="book">
        select * from tb_book where id = ${bookID} and is_delete != 1
    </select>

    <insert id="insertBook" parameterType="bookEntity">
        insert into tb_book (name, author, press, publication_date, isbn) values (#{name},#{author},#{press},#{publicationDate},#{ISBN})
    </insert>

    <resultMap id="book" type="com.fengfan.bookstore.entity.BookEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="press" column="press"/>
        <result property="publicationDate" column="publication_date"/>
        <result property="ISBN" column="isbn"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
</mapper>