<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengfan.bookstore.dao.BookShelvesDao">

    <!-- 分类分页查询上架书籍列表 -->
    <select id="selectBookShelvesList" resultMap="bookShelves">
        select * from tb_book_shelves where category_id = #{categoryID} and is_delete = 0 limit #{start},#{offset}
    </select>

    <!-- 模糊查询上架书籍列表 -->
    <select id="selectFuzzyBookShelvesList" resultMap="bookShelves">
        select shelves.* from tb_book_shelves as shelves left join tb_book as book
        on shelves.book_id = book.id where book.name like concat('%',#{keyword},'%') or
        shelves.describe like concat('%',#{keyword},'%') or book.author like concat('%',#{keyword},'%')
        or book.press like concat('%',#{keyword},'%') limit #{start},#{offset}
    </select>

    <!-- 查询上架信息 -->
    <select id="selectBookShelvesInfo" resultMap="bookShelves">
        select * from tb_book_shelves where id = #{bookShelvesID}
    </select>

    <!-- 查询上架书展示图片 -->
    <select id="selectShowImg" resultMap="showImg">
        select * from tb_show_img where book_shelves_id = #{bookShelvesID}
    </select>

    <!-- 上架详细信息 -->
    <select id="selectDetailed" resultMap="detailed">
        select * from tb_detailed where book_shelves_id = #{bookShelvesID}
    </select>

    <resultMap id="bookShelves" type="com.fengfan.bookstore.entity.BookShelvesEntity">
        <id property="id" column="id"/>
        <result property="bookID" column="book_id"/>
        <result property="categoryID" column="category_id"/>
        <result property="describe" column="describe"/>
        <result property="price" column="price"/>
        <result property="isExpressFee" column="is_express_fee"/>
        <result property="isReal" column="is_real"/>
        <result property="isReturn" column="is_return"/>
        <result property="isRefund" column="is_refund"/>
        <result property="originalPrice" column="original_price"/>
        <result property="isDelete" column="is_delete"/>
        <result property="sales" column="sales"/>
        <result property="points" column="points"/>
    </resultMap>
    <resultMap id="showImg" type="com.fengfan.bookstore.entity.ShowImgEntity">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="bookShelvesID" column="book_shelves_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    <resultMap id="detailed" type="com.fengfan.bookstore.entity.DetailedEntity">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="bookShelvesID" column="book_shelves_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

</mapper>