<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengfan.bookstore.dao.BookShelvesDao">

    <!-- 主页查询 -->
    <select id="selectIndexBook" resultMap="indexBook">
        select a.id as book_id,a.describe_book,a.price,a.sales,b.id as category_id,b.name,c.url
        from (tb_book_shelves as a left join tb_category as b on a.category_id = b.id) left join
        (select * from tb_show_img where id in (select min(id) from tb_show_img group by book_shelves_id))as c
        on a.id = c.book_shelves_id
        where a.category_id = #{categoryID} limit 0,6;
    </select>

    <!-- 分类查询上架书籍列表 -->
    <select id="selectClassBook" resultMap="indexBook">
        select a.id as book_id,a.describe_book,a.price,a.sales,b.id as category_id,b.name,c.url
        from (tb_book_shelves as a left join tb_category as b on a.category_id = b.id) left join
         (select * from tb_show_img where id in (select min(id) from tb_show_img group by book_shelves_id))as c
        on a.id = c.book_shelves_id
        where a.category_id = #{categoryID}
    </select>

    <!-- 修改销量 -->
    <update id="updateSales" parameterType="bookShelvesEntity">
        update tb_book_shelves set sales = sales + #{sales} where id = #{id}
    </update>

    <!-- 插入上架 -->
    <insert id="insertBookShelves" parameterType="bookShelvesEntity" useGeneratedKeys="true" keyProperty="id">
          insert into tb_book_shelves (book_id, category_id,describe_book,create_time,price,original_price,postage,points)
          values (#{bookID},#{categoryID},#{describe},sysdate(),#{price},#{originalPrice},#{postage},#{points})
    </insert>

    <!-- 修改上架书信息 -->
    <update id="updateBookShelves" parameterType="bookShelvesEntity">
        update tb_book_shelves
         <set>
              <if test="describe != null">'describe' = #{describe},</if>
              <if test="price != null and price != 0">price = #{price},</if>
              <if test="isExpressFee != null and isExpressFee != 0">is_express_fee = #{isExpressFee},</if>
              <if test="isReal != null and isReal != 0">is_real = #{isReal},</if>
              <if test="isReturn != null and isReturn != 0">is_return = #{isReturn},</if>
              <if test="isRefund != null and isRefund != 0">is_refund = #{isRefund},</if>
              <if test="originalPrice != null and originalPrice != 0">original_price = #{originalPrice},</if>
              <if test="postage != null and postage != 0">postage = #{postage},</if>
              <if test="points != null and points != 0">points = #{points}</if>
         </set>
    </update>

    <!-- 插入展示图片 -->
    <insert id="insertShowImage" parameterType="showImgEntity">
        insert into tb_show_img (url, book_shelves_id) values (#{url},#{bookShelvesID})
    </insert>

    <!-- 插入书籍详情 -->
    <insert id="insertDetailed" parameterType="detailedEntity">
        insert into tb_detailed (url, book_shelves_id) values (#{url},#{bookShelvesID})
    </insert>


    <!-- 模糊查询上架书籍列表 -->
    <select id="selectFuzzyBookShelvesList" resultMap="bookShelves">
        select shelves.* from tb_book_shelves as shelves left join tb_book as book
        on shelves.book_id = book.id where book.name like concat('%',#{keyword},'%') or
        shelves.describe_book like concat('%',#{keyword},'%') or book.author like concat('%',#{keyword},'%')
        or book.press like concat('%',#{keyword},'%')
    </select>

    <!-- 查询上架信息 -->
    <select id="selectBookShelvesInfo" resultMap="bookShelves">
        select * from tb_book_shelves where id = #{bookShelvesID}
    </select>

    <!-- 查询上架书展示图片 -->
    <select id="selectShowImg" resultMap="showImg">
        select * from tb_show_img where book_shelves_id = #{bookShelvesID}
    </select>

    <!-- 上架详细信息 -->
    <select id="selectDetailed" resultMap="detailed">
        select * from tb_detailed where book_shelves_id = #{bookShelvesID}
    </select>

    <!-- 根据排序规则查询分类 -->
    <select id="selectBookShelvesByDefault" resultMap="indexBook">
        select a.id as book_id,a.describe_book,a.price,a.sales,b.id as category_id,b.name,c.url
        from (tb_book_shelves as a left join tb_category as b on a.category_id = b.id) left join
             (select * from tb_show_img where id in (select min(id) from tb_show_img group by book_shelves_id))as c
             on a.id = c.book_shelves_id
        where a.category_id = #{categoryID}
    </select>
    <select id="selectBookShelvesByTime" resultMap="indexBook">
        select a.id as book_id,a.describe_book,a.price,a.sales,b.id as category_id,b.name,c.url
        from (tb_book_shelves as a left join tb_category as b on a.category_id = b.id) left join
             (select * from tb_show_img where id in (select min(id) from tb_show_img group by book_shelves_id))as c
             on a.id = c.book_shelves_id
        where a.category_id = #{categoryID} order by a.create_time desc,a.id asc
    </select>
    <select id="selectBookShelvesBySales" resultMap="indexBook">
        select a.id as book_id,a.describe_book,a.price,a.sales,b.id as category_id,b.name,c.url
        from (tb_book_shelves as a left join tb_category as b on a.category_id = b.id) left join
             (select * from tb_show_img where id in (select min(id) from tb_show_img group by book_shelves_id))as c
             on a.id = c.book_shelves_id
        where a.category_id = #{categoryID} order by a.sales desc,a.id asc
    </select>
    <select id="selectBookShelvesByPrice" resultMap="indexBook">
        select a.id as book_id,a.describe_book,a.price,a.sales,b.id as category_id,b.name,c.url
        from (tb_book_shelves as a left join tb_category as b on a.category_id = b.id) left join
             (select * from tb_show_img where id in (select min(id) from tb_show_img group by book_shelves_id))as c
             on a.id = c.book_shelves_id
        where a.category_id = #{categoryID} order by a.price desc,a.id asc
    </select>

    <resultMap id="indexBook" type="com.fengfan.bookstore.entity.IndexBookEntity">
        <id property="bookID" column="book_id"/>
        <result property="price" column="price"/>
        <result property="sales" column="sales"/>
        <result property="describe" column="describe_book"/>
        <result property="categoryID" column="category_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
    </resultMap>

    <resultMap id="bookShelves" type="com.fengfan.bookstore.entity.BookShelvesEntity">
        <id property="id" column="id"/>
        <result property="bookID" column="book_id"/>
        <result property="categoryID" column="category_id"/>
        <result property="describe" column="describe_book"/>
        <result property="price" column="price"/>
        <result property="isExpressFee" column="is_express_fee"/>
        <result property="isReal" column="is_real"/>
        <result property="isReturn" column="is_return"/>
        <result property="isRefund" column="is_refund"/>
        <result property="originalPrice" column="original_price"/>
        <result property="isDelete" column="is_delete"/>
        <result property="sales" column="sales"/>
        <result property="points" column="points"/>
    </resultMap>
    <resultMap id="showImg" type="com.fengfan.bookstore.entity.ShowImgEntity">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="bookShelvesID" column="book_shelves_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    <resultMap id="detailed" type="com.fengfan.bookstore.entity.DetailedEntity">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="bookShelvesID" column="book_shelves_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

</mapper>