<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengfan.bookstore.dao.CommentImgDao">

    <insert id="insertCommentImage" parameterType="commentImgEntity">
        insert into tb_comment_img (url, comment_id)
        values (#{url},#{commentID})
    </insert>

    <select id="selectCommentImage" resultMap="commentImg">
        select * from tb_comment_img where comment_id = #{commentID}
    </select>
    <resultMap id="commentImg" type="com.fengfan.bookstore.entity.CommentImgEntity">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="isDelete" column="is_delete"/>
        <result property="commentID" column="comment_id"/>
    </resultMap>
</mapper>